.AdminRegisterPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  font-family: "Hanken Grotesk", sans-serif;
}

.AdminLeftContainer {
  width: 40%;
  min-height: 100vh;
  background: linear-gradient(180deg, #2560cd 0%, #102b5c 100%);
  display: flex;
  flex-direction: column;
  padding: 40px 60px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.AdminRegisterLogo {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 70px;
  font-family: "Manrope", sans-serif;
}

.AdminRegisterHeading h1 {
  font-size: 40px;
  color: #ffffff;
  line-height: 48px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 24px;
  font-family: "Manrope", sans-serif;
}

.AdminRegisterHeading p {
  width: 400px;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.AdminImageBox {
  width: 416px;
  height: 416px;
  background: #ffffff0d;
  border: 1px solid #ffffff1a;
  backdrop-filter: blur(4px);
  border-radius: 16px;
  margin: 45px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FutureImage {
  width: 350px;
  height: 350px;
  border-radius: 12px;
}

.AdminRegisterFeatures {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 40px;
}

.AdminRegisterCard {
  display: flex;
  align-items: center;
  gap: 18px;
}

.AdminRegisterCardIcon img {
  width: 12px;
  height: 14px;
}

.AdminRegisterCardIcon {
  width: 25px;
  height: 31px;
  background: #ffffff1a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 9px 8px 9px 8px;
}

.AdminRegisterContent h4 {
  font-size: 14px;
  color: #ffffff;
}

.AdminRegisterContent p {
  font-size: 14px;
  color: #6b7280;
}

.AdminRightContainer {
  width: 60%;
  min-height: 100vh;
  background: #ffffff;
  padding: 50px 60px;
  display: flex;
  flex-direction: column;
}

.AdminRegisterHeader h1 {
  font-size: 32px;
  font-weight: 600;
  color: #111c2d;
  margin-bottom: 8px;
  font-family: "Manrope", sans-serif;
}

.AdminRegisterHeader p {
  font-size: 16px;
  color: #464555;
  margin-bottom: 30px;
}

.AdminRegisterTitle {
  font-size: 14px;
  color: #111c2d;
  margin-bottom: 14px;
}

.AdminRoleContainer {
  margin-bottom: 30px;
}

.AdminRegisterRole {
  margin-bottom: 30px;
}

.AdminRoleCard {
  width: 150px;
  height: 90px;
  border: 1px solid #c7c4d8;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 5px;
  margin-top: 5px;
}

.AdminRoleIcon {
  width: 20px;
  height: 20px;
  background: #fff7ed;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AdminRoleIcon img {
  width: 32px;
  height: 32px;
}

.AdminRegisterForm {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.AdminRegisterFormRow {
  display: flex;
  gap: 24px;
}

.AdminRegisterGroup,
.AdminPassword {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.AdminRegisterGroup label,
.AdminPassword label {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #111c2d;
}

.AdminRegisterGroup input {
  width: 100%;
  height: 50px;
  padding: 0 16px;
  border: 1px solid #c7c4d8;
  border-radius: 8px;
  outline: none;
  font-family: "Hanken Grotesk", sans-serif;
}

.AdminRegisterGroup select {
  width: 100%;
  height: 52px;
  border: 1px solid #c7c4d8;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
}



.AdminPassword input {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  border: 1px solid #c7c4d8;
  cursor: pointer;
  padding: 0 16px;
  font-family: "Hanken Grotesk", sans-serif;
}

.AdminPassword {
  position: relative;
}

.AdminEye {
  position: absolute;
  right: 20px;
  top: 43px;
  width: 15px;
  height: 12px;
  cursor: pointer;
}

.AdminRegisterButton {
  width: 100%;
  height: 52px;
  margin-top: 10px;
  background: #3525cd;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.AdminRegisterForm .error {
  color: #ef4444;
  font-size: 12px;
  margin-top: 6px;
  margin-left: 2px;
  font-weight: 500;
}

.AdminErrorInput {
  border: 1px solid #ef4444;
  box-shadow: 0 0 0 3px rgba(235,57,57,.15);
}

.AdminTerms{
   color: #3525cd;
}



.AdminRegisterDivider {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 10px;
}

.AdminRegisterDivider hr {
  flex: 1;
  margin-bottom: 10px;
}

.AdminRegisterSignin {
  text-align: center;
  margin-bottom: 12px;
}

.AdminRegisterSignin p {
  font-size: 16px;
  color: #464555;
}

.AdminSigninLink {
  color: #3525cd;
  cursor: pointer;
}

.AdminRegisterFooter {
  width: 100%;
  padding: 20px 50px;
  border-top: 1px solid #c7c4d8;
  background: #f0f3ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Hanken Grotesk", sans-serif;
}

.AdminRegisterFooter p {
  font-size: 14px;
  color: #464555;
}

.AdminFooterLinks {
  display: flex;
  gap: 24px;
}

.AdminFooterLinks span {
  font-size: 14px;
  color: #464555;
  cursor: pointer;
  margin-right: 10px;
}

@media (max-width: 1024px) {
  .AdminRegisterPage {
    flex-direction: column;
  }

  .AdminLeftContainer,
  .AdminRightContainer {
    width: 100%;
    min-height: auto;
    border-radius: 0;
  }

  .AdminLeftContainer {
    align-items: center;
    text-align: center;
    padding: 40px;
  }

  .AdminRegisterHeading p {
    width: 100%;
    max-width: 550px;
  }

  .AdminImageBox {
    width: 360px;
    height: 360px;
  }

  .FutureImage {
    width: 300px;
    height: 300px;
  }

  .AdminRegisterFeatures {
    width: 100%;
    max-width: 500px;
  }

  .AdminRightContainer  {
    padding: 40px;
  }
}

@media (max-width: 768px) {
  .AdminRegisterPage  {
    flex-direction: column;
  }

  .AdminLeftContainer  {
    display: none;
  }
  .AdminRightContainer {
    width: 100%;
    padding: 30px 20px;
  }

  .AdminRegisterLogo {
    margin-bottom: 40px;
    text-align: center;
  }

  .AdminRegisterHeading h1 {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }

  .AdminRegisterHeading p {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  .AdminImageBox {
    width: 100%;
    max-width: 320px;
    height: 320px;
    margin: 35px auto;
  }

  .FutureImage {
    width: 260px;
    height: 260px;
  }

  .AdminRegisterFeatures  {
    margin-top: 20px;
  }

  .AdminRegisterFormRow {
    flex-direction: column;
    gap: 18px;
  }

  .AdminRoleCard {
    margin: auto;
  }

  .AdminRegisterHeader h1 {
    font-size: 28px;
  }

  .AdminRegisterHeader p {
    font-size: 15px;
  }

  .AdminRegisterFooter {
    flex-direction: column;
    gap: 12px;
    text-align: center;
    padding: 20px;
  }

  .AdminFooterLinks {
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }
}

@media (max-width: 480px) {
  .AdminRegisterHeading h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .AdminImageBox {
    max-width: 280px;
    height: 280px;
  }

  .FutureImage {
    width: 220px;
    height: 220px;
  }

  .AdminRegisterCard {
    width: 130px;
    height: 85px;
  }

  .AdminRegisterButton {
    height: 48px;
  }
}
