.audience{
  padding: 100px 60px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;          
  gap: 80px;
}


.audience-left{
  flex: 1;
  margin-top: 25px;           
}

.audience-left h1{
  font-size: 58px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #111827;
  line-height: 1.15;
  letter-spacing: -0.5px;
}

.audience-left h2{
  font-size: 48px;
  color: #2563eb;
  margin-bottom: 15px;
}


.audience-points{
  margin-bottom: 55px;
}

.point{
  display: flex;
  gap: 18px;
  margin-bottom: 34px;
}

.point span{
  width: 24px;
  height: 24px;
  font-size: 11px;
  font-weight: 600;
  border-radius: 50%;
  background: #eff6ff;
  color: #2563eb;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 4px;
}

.point h4{
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: 600;
  color: #111827;
}

.point p{
  color: #6b7280;
  line-height: 1.7;
  font-size: 16px;
  max-width: 470px;
}


.audience-buttons{
  display: flex;
  gap: 20px;
}

.audience-buttons button{
  padding: 20px 0;
  min-width: 180px;
  border: 1px solid #d1d5db;
  background: white;
  border-radius: 14px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  transition: 0.3s ease;
}


.audience-buttons button:hover{
  background: #2563eb;
  color: white;
  border: none;
  box-shadow: 0 12px 30px rgba(37,99,235,0.35);
  transform: translateY(-3px);
}


.audience-right{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.audience-image{
  width: 520px;             
  height: 620px;
  object-fit: cover;
  border-radius: 35px;
  display: block;
  border: 8px solid #e5e7eb;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
  
}