.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 65px 60px 80px 60px;   
  min-height: 92vh;
  background: #f7f9fd;
  position: relative;
  overflow: hidden;
}

.hero::after{
  content: "";
  position: absolute;
  top: -50px;         
  right: -80px;        
  width: 750px;       
  height: 108vh;       
  background: #eef3fb;
  transform: skewX(-25deg);
  z-index: 1;
}

.hero-left{
  width: 52%;
  position: relative;
  z-index: 2;
}

.hero-badge{
  display: inline-block;
  background: #e8f1ff;
  color: #2563eb;
  padding: 12px 22px;
  border-radius: 28px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 500;
}

.hero-badge img{
  width: 12px;
  height: 12px;
  object-fit: contain;
  margin-right: 8px;
}

.hero-left h1{
  font-size: 74px;
  line-height: 1.08;
  margin-bottom: 28px;
  color: #111827;
  letter-spacing: -1px;
  font-weight: 700;
}

.hero-left h2{
  font-size: 74px;
  color: #2563eb;
  position: relative;
}


.hero-left p{
  color: #6b7280;
  font-size: 20px;
  line-height: 1.65;
  margin-bottom: 38px;
  max-width: 560px;
}

.hero-buttons{
  display: flex;
  gap: 24px;
  margin-top: 10px;
}

.start-btn,
.demo-btn{
  padding: 25px 48px;
  border: none;
  cursor: pointer;
  border-radius: 14px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: 0.3s ease;

}

.start-btn{
  background: #2563eb;
  color: white;
  box-shadow: 0 8px 18px rgba(37, 99, 235, 0.2);
}

.start-btn img{
  width: 16px;
  height: 16px;
  object-fit: contain;
  margin-left: 8px;
 
  
}

.demo-btn{
  background: white;
  border: 1px solid #d1d5db;
}

.start-btn:hover,
.demo-btn:hover{
  transform: translateY(-3px);
}


.hero-right{
  width: 46%;             
  position: relative;
  z-index: 2;
  margin-top: 25px;       
}

.hero-image{
  width: 100%;
  border-radius: 22px;
  border: 8px solid #ffffff;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
  animation: float 3s ease-in-out infinite;
}


.floating-card{
  position: absolute;
  bottom: 20px;
  left: -55px;
  background: white;
  padding: 14px 18px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  gap: 14px;
  width: 260px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
}

.card-text{
  display: flex;
  flex-direction: column;
}

.floating-card p{
  font-size: 13px;
  color: gray;
  margin: 0;
}

.floating-card h3{
  margin: 2px 0 0 0;
  font-size: 24px;
  color: #111827;
}

.success-icon-img{
  width: 38px;
  height: 38px;
  object-fit: contain;
  flex-shrink: 0;
}

