.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 80px;
    background:white;
    border-bottom:1px solid #eee;
    position: sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:22px;
    font-weight:700;
    color:#4f46e5;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:40px;
    font-size:15px;
    color:#444;
    font-weight:600;

}

.nav-buttons{
    display:flex;
    align-items:center;
    gap:20px;
}

.login{
    color:#4f46e5;
    cursor:pointer;
}

.nav-buttons button{
    background:#4f46e5;
    border:none;
    padding:12px 20px;
    color:white;
    border-radius:8px;
    cursor:pointer;
}