.process{
  background:#f8f8fc;
  padding:70px 60px;
  text-align:center;
}

.small-title{
  color:#6366f1;
  font-size:14px;
  font-weight:600;
  letter-spacing:2px;
  margin-bottom:20px;
}

.process h2{
  font-size:48px;
  font-weight:700;
  max-width:900px;
  margin:auto;
  line-height:1.3;
  margin-bottom:70px;
}

.process-row{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:50px;
}

.step{
  text-align:center;
}

.circle{
  width:70px;
  height:70px;
  border-radius:50%;
  background:#ffffff;
  border:2px solid #ececf5;
  color:#6366f1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:28px;
  font-weight:600;
  margin:auto;
  margin-bottom:25px;
}

.step h3{
  font-size:24px;
  margin-bottom:12px;
}

.step p{
  color:#777;
  font-size:15px;
  line-height:1.6;
}