.forgot-container{
    width:100%;
    min-height:100vh;
    display: flex;
}

.forgot-left-container{
    width: 45%;
    height: 100vh;
    background: linear-gradient(187.05deg, #4368C5 6.94%, #101F6B 93.89%);
    border-radius: 12px;
}

.forgot-heading{
   color: #FFFFFF; 
   font-size: 48px;
   width: 400px;
   margin-top: 150px;
   margin-left: 40px;
   line-height: 56px;
  
}

.forgot-content{
    color:#E2DFFF;
    font-size:16px;
    width: 380px;
    margin-top: 18px;
    margin-left: 40px;
    line-height: 24px;
}

.forgot-foot{
    margin-top: 290px;
    color: #FFFFFF;
    font-size: 12px;
    display: flex;
    margin-left:40px;
}

span.dot{
    padding: 2px;
    margin-top: 5px;
}

.forgot-right-container{
    width: 50%;
    min-height: 100vh;
    background-color: white;
}

.forgot-nav a{
    text-decoration: none;
    color: #464555;
    padding-left: 10px;
    font-size: 14px;
    
}

.forgot-nav{
     margin-left: 80%;
     margin-top: 30px;
}

.lock{
    width:56px;
    height: 56px;
    background: #E2DFFF;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-left: 110px;
}
 
.header-lock{
    width: 23px;
    height: 23px;
    
}

.forgot-header h2,
.forgot-header p {
    margin-left: 110px;
    margin-top: 15px;

}

.forgot-header h2{
    color: #111C2D;
    font-size: 32px;
}

.forgot-header p{
    color: #464555;
    font-size: 16px;
    width: 400px;
}

.forgot-header h5{
    color: #464555;
    font-size: 14px;
    margin-top:20px;
    margin-left: 110px;

}

.method-card{
    display: flex;
    align-items: center;
    border: 1px solid #C7C4D8; 
    width: 449px;
    height: 78px;
    padding: 16px;
    border-radius: 12px;
    margin-top: 20px;
    margin-left: 110px;
    

}

.Mail-forgot,
.Mobile-forgot{
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;

}

.forgot-info{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.forgot-info h4{
    font-size: 16px;
    color: #111C2D;   
}

.forgot-info p{

    color: #464555;

}


.forgot{
    width: 16px;
    height: 16px;
    appearance: none;
    border: 2px solid #3525CD;
    border-radius: 50%;
    background: white;
    transition: all 0.2s ease;


}

.forgot:checked{
    border: 6px solid #3525CD;
}

.sendv-code{
    width:450px;
    height: 48px;
    background: #3525CD;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 24px;
    margin-left: 110px;
    font-weight: 600;

}

.Rarrow{
    width: 12px;
    height: 12px;
    margin-left: 8px;
}

.backleft{
    width: 5px;
    height: 9px;
    margin-right: 2px;
}
.right-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-right: 100px;
     
}

.login-back{
    font-size: 14px;
    color: #3525CD; 
    letter-spacing: 0.7px;
    text-decoration: none;

}



