.Reset-container{
    width:100%;
    min-height:100vh;
    display: flex;
}

.reset-left-container{
    width: 45%;
    height: 100vh;
    background: linear-gradient(152.99deg, #383D46 0%, #2263EF 100%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}
.reset-header{

    display: flex;
    flex-direction: column;
    align-items:start;
    margin-left: 40px;
    margin-top: 150px;


}
.reset-header h1{
    font-weight: 400;
    font-style: SemiBold;
    font-size: 48px;
    color: #FFFFFF;
    width: 400px;  

}

.reset-header p{
   color: #E2DFFF;
   font-weight: 400;
   font-size: 16px;
   width: 380px;
   letter-spacing: 0.5px;
   margin-top: 20px;
   
}

.security-box{
    background: #FFFFFF33;
    width: 152px;
    height: 152px;
    border-radius:12px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity:40%;
    margin-top: 90px;
    margin-left: 40px;
}

.security-icon{
    width:60px;
    height:80px;
  
}

.reset-footer{
    margin-top: 150px;
    color: #FFFFFF;
    font-size: 12px;
    display: flex;
    margin-left:40px;
}

.point{
    width: 4px;
    height: 4px;
    border-radius: 9999px;
    background:gray;
    padding: 2px;
    margin: 5px;
    
}