.Reset-container{
    width:100%;
    min-height:100vh;
    display: flex;
}

.reset-left-container{
    width: 45%;
    height: 100vh;
    background: linear-gradient(152.99deg, #383D46 0%, #2263EF 100%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}
.reset-header{

    display: flex;
    flex-direction: column;
    align-items:start;
    margin-left: 40px;
    margin-top: 150px;


}
.reset-header h1{
    font-weight: 400;
    font-style: SemiBold;
    font-size: 48px;
    color: #FFFFFF;
    width: 400px;  

}

.reset-header p{
   color: #E2DFFF;
   font-weight: 400;
   font-size: 16px;
   width: 380px;
   letter-spacing: 0.5px;
   margin-top: 20px;
   
}

.security-box{
    background: #FFFFFF33;
    width: 152px;
    height: 152px;
    border-radius:12px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity:40%;
    margin-top: 90px;
    margin-left: 40px;
}

.security-icon{
    width:60px;
    height:80px;
  
}

.reset-footer{
    margin-top: 150px;
    color: #FFFFFF;
    font-size: 12px;
    display: flex;
    margin-left:40px;
}

.point{
    width: 4px;
    height: 4px;
    border-radius: 9999px;
    background:gray;
    padding: 2px;
    margin: 5px;
    
}

.lock-top{
    width:56px;
    height: 56px;
    background: #E2DFFF;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.lockicon{
    width: 23px;
    height: 23px;
}

.reset-right-container{
    margin-top: 90px;
    margin-left: 110px;
}

.reset-head h1{
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.32px;
    margin-top: 10px;
    
}
.reset-head p{
    color: #464555;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 400px;

}

.new-pass{
    color: #464555;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.7px;
 

}

.pass-box{
    position: relative;
    height: 48px;
    width: 80%;
    padding: 12px 40px;
    padding-left: 45px;
    border: 1px solid gray;
    border-radius: 8px;
    margin-top: 10px;
}
.pass-box input{
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    margin-top: 3px;
   
}

.Lockedicon{
    width: 16px;
    height: 21px;
    position: absolute;
    left: 12px;
    top: 12px;
}

.guardicon{
    width: 16px;
    height: 20px;
    position: absolute;
    left: 12px;
    top: 12px;
}

.validation-box{
    margin-top: 20px;
    margin-bottom: 24px;
    width: 80%;
    height: 74px;
    border-radius: 8px;
    background: #F0F3FF;

}

.validation-item{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    gap: 10px;
}

.validation-item p{
    color: #464555;
    font-size: 12px;
    margin-top: 10px;


}
.status{
    width: 12px;
    height: 12px;
    border: 2px solid #464555;
    border-radius: 50%;
    display: inline-block;
    margin-top: 8px;
    margin-left: 15px;
}

.status.success{
    background: #22C55E;
    border-color: #22C55E;;
}

.status.error{
    background: #EF4444;
    border-color: #EF4444;
}

.update-btn{
    width: 80%;
    height: 48px;
    background: #3525CD;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-weight: 300;

}
.resetarrow{
    width: 12px;
    height: 12px;
    margin-left: 8px;
}

.reset-login{
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #3525CD;
    text-decoration: none;
    margin-right: 80px;
}
