.LandingPage {
  font-family: "Inter", sans-serif;
}

.Hero {
  display: flex;
  justify-content: center;
  gap: 48px;
  align-items: center;
  padding: 65px 60px 80px 60px;
  min-height: 92vh;
  background: #f7f9fd;
  position: relative;
  overflow: hidden;
}

.Hero::after {
  content: "";
  position: absolute;
  top: -50px;
  right: -80px;
  width: 750px;
  height: 108vh;
  background: #eef3fb;
  transform: skewX(-25deg);
  z-index: 1;
}

.HeroLeft {
  width: 52%;
  position: relative;
  z-index: 2;
}

.HeroLeft h1 {
  font-size: 72px;
  line-height: 72px;
  color: #0b1c30;
  letter-spacing: -1.8px;
  font-weight: 400;
}

.HeroLeft h2 {
  font-size: 72px;
  line-height: 72px;
  letter-spacing: -1.8px;
  color: #2563eb;
  position: relative;
  font-weight: 400;
}

.HeroLeft hr {
  width: 100%;
  max-width: 446px;
  height: 8px;
  border: none;
  border: 4px solid #0058be33;
  margin-top: 12px;
}

.HeroLeft p {
  color: #45464d;
  font-size: 20px;
  line-height: 32px;
  margin-top: 15px;
  margin-bottom: 38px;
  font-weight: 400;
  max-width: 500px;
}

.HeroBadge {
  display: inline-block;
  background: #e8f1ff;
  color: #0058be;
  padding: 12px 22px;
  border-radius: 28px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.HeroBadge img {
  width: 12px;
  height: 12px;
  object-fit: contain;
  margin-right: 8px;
}

.HeroButtons {
  display: flex;
  gap: 24px;
  margin-top: 10px;
}

.StartBtn,
.DemoBtn {
  padding: 25px 48px;
  border: none;
  cursor: pointer;
  border-radius: 14px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: 0.3s ease;
}

.StartBtn {
  background: #0058be;
  color: white;
  box-shadow: 0 8px 18px rgba(37, 99, 235, 0.2);
}

.StartBtn img {
  width: 16px;
  height: 16px;
  object-fit: contain;
  margin-left: 8px;
}

.DemoBtn {
  background: white;
  border: 1px solid #c6c6cd;
  color: #0b1c30;
}

.StartBtn:hover,
.DemoBtn:hover {
  transform: translateY(-3px);
}

.HeroRight {
  width: 42%;
  position: relative;
  z-index: 2;
  margin-top: 25px;
}

.HeroImage {
  width: 100%;
  border-radius: 22px;
  border: 8px solid #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  position: relative;
}

.FloatingCard {
  width: 250px;
  height: 94px;
  position: absolute;
  left: -30px;
  bottom: -12px;
  background: white;
  padding: 14px 18px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 14px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
}

.CardText {
  display: flex;
  flex-direction: column;
}

.FloatingCard p {
  font-size: 13px;
  color: gray;
  margin: 0;
}

.FloatingCard h6 {
  color: #45464d;
  font-size: 12px;
}

.FloatingCard h3 {
  margin: 2px 0 0 0;
  font-size: 20px;
  color: #0b1c30;
}

.SuccessIconImg {
  width: 38px;
  height: 38px;
  object-fit: contain;
  flex-shrink: 0;
}

.Stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: white;
  padding: 40px 60px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.StatBox {
  text-align: center;
  padding: 18px 10px;
  border-right: 1px solid #eeeeee;
  cursor: pointer;
  transition: 0.3s ease;
}

.StatBox:last-child {
  border-right: none;
}

.StatBox h2 {
  font-size: 48px;
  margin-bottom: 6px;
  font-weight: 900;
  color: #0b1c30;
  line-height: 48px;
}

.StatBox p {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2.4px;
  color: #0058be;
  font-weight: 600;
}

.StatBox:hover {
  background: #f8faff;
}

.Features {
  padding: 90px 60px;
  background: #f7f8fc;
}

.FeaturesTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 55px;
}

.FeaturesTop h2 {
  font-size: 48px;
  margin-bottom: 14px;
  font-weight: 500;
  color: #0b1c30;
  line-height: 48px;
}

.FeaturesTop p {
  width: 600px;
  color: #45464d;
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
}

.FeaturesTop span {
  color: #2563eb;
  font-size: 16px;
  margin-top: 30px;
  cursor: pointer;
}

.FeaturesTop img {
  width: 9px;
  height: 9px;
  margin-left: 5px;
}
.FeaturesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

.FeatureCard {
  background: white;
  padding: 36px;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
  min-height: 310px;
  transition: 0.3s ease;
}

.FeatureCard:hover {
  transform: translateY(-4px);
}

.IconBox {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 28px;
}

.IconBox img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.FeatureCard h3 {
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: 600;
  color: #111827;
}

.FeatureCard p {
  color: #45464d;
  line-height: 26px;
  font-size: 16px;
  font-weight: 500;
  max-width: 290px;
}

.Audience {
  padding: 100px 60px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.AudienceLeft {
  flex: 1;
  margin-top: 25px;
}

.AudienceLeft h1 {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #111827;
  line-height: 48px;
}

.AudienceLeft h2 {
  font-size: 48px;
  color: #0058be;
  margin-bottom: 15px;
  font-weight: 400;
}

.AudiencePoints {
  margin-bottom: 55px;
}

.Points {
  display: flex;
  align-items: flex-start;
  gap: 18px;
  margin-bottom: 34px;
}

.Tick {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #eff6ff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 5px;
}

.Tick img {
  width: 10px;
  height: 8px;
  object-fit: contain;
}

.Points h4 {
  font-size: 18px;
  font-weight: 500;
  color: #0b1c30;
  margin-bottom: 6px;
  line-height: 28px;
}

.Points p {
  color: #45464d;
  line-height: 24px;
  font-size: 16px;
  max-width: 470px;
}

.AudienceButtons {
  display: flex;
  gap: 20px;
}

.AudienceButtons button {
  padding: 20px 0;
  min-width: 180px;
  border: 1px solid #d1d5db;
  background: white;
  border-radius: 14px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.AudienceButtons button:hover {
  background: #0058be;
  color: white;
  border: 2px solid #0058be;
}

.AudienceRight {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AudienceImage {
  width: 550px;
  height: 700px;
  object-fit: cover;
  border-radius: 35px;
  display: block;
  border: 8px solid #e5e7eb;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

@media (max-width: 1200px) {
  .Hero {
    padding: 60px 32px;
    gap: 32px;
  }

  .HeroLeft {
    width: 50%;
  }

  .HeroLeft hr {
    max-width: 420px;
  }

  .HeroRight {
    width: 44%;
  }

  .Stats {
    padding: 35px 32px;
  }

  .Features {
    padding: 80px 32px;
  }

  .Audience {
    padding: 80px 32px;
    gap: 40px;
  }

  .AudienceImage {
    width: 380px;
    height: auto;
  }

  .Footer {
    padding: 60px 32px 30px;
  }
}

@media (max-width: 992px) {
  .Navbar {
    padding: 18px 30px;
  }

  .Logo {
    font-size: 26px;
  }

  .Hero {
    flex-direction: column;
    text-align: center;
    padding: 60px 30px;
    min-height: auto;
  }

  .Hero::after {
    display: none;
  }

  .HeroLeft,
  .HeroRight {
    width: 100%;
  }

  .HeroLeft h1 {
    font-size: 42px;
    line-height: 48px;
  }

  .HeroLeft h2 {
    font-size: 42px;
    line-height: 48px;
  }

  .HeroLeft hr {
    margin: 12px auto 0;
    max-width: 300px;
  }

  .HeroLeft p {
    margin: auto;
    margin-bottom: 30px;
  }

  .HeroButtons {
    justify-content: center;
  }

  .FloatingCard {
    left: 10px;
    bottom: 10px;
  }

  .Stats {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .StatBox {
    border-right: none;
    border-bottom: 1px solid #eee;
  }

  .StatBox:last-child {
    border-bottom: none;
  }

  .Features {
    padding: 70px 30px;
  }

  .FeaturesTop {
    flex-direction: column;
    gap: 20px;
  }

  .FeaturesTop p {
    width: 100%;
  }

  .FeaturesGrid {
    grid-template-columns: 1fr;
  }

  .Audience {
    flex-direction: column;
    padding: 70px 30px;
  }

  .AudienceLeft {
    text-align: center;
  }

  .Points {
    text-align: left;
  }

  .AudienceButtons {
    justify-content: center;
    flex-wrap: wrap;
  }

  .AudienceImage {
    width: 420px;
    height: auto;
  }

  .FooterTop {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .FooterBottom {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}

@media (max-width: 480px) {

  
  .Hero {
    padding: 40px 16px;
  }

  .HeroLeft,
  .HeroRight {
    width: 100%;
  }

  .HeroLeft h1 {
    font-size: 42px;
    line-height: 38px;
  }

  .HeroLeft h2 {
    font-size: 42px;
    line-height: 38px;
    margin-bottom: 10px;
  }

  .HeroLeft hr {
  
    max-width: 300px;
  }

  .HeroButtons {
    flex-direction: column;
    align-items: stretch;
  }

  .StartBtn,
  .DemoBtn {
    width: 100%;
    padding: 18px;
  }

  .HeroLeft p {
    font-size: 14px;
    line-height: 24px;
  }

  .HeroImage {
    width: 100%;
    height: auto;
  }

  .FloatingCard {
    width: 100%;
    padding: 16px;
  }

  .Stats {
    padding: 15px;
  }

  .StatBox {
    padding: 20px 10px;
  }

  .Features {
    padding: 50px 16px;
  }

  .FeaturesGrid {
    gap: 20px;
  }

  .FeatureCard {
    padding: 20px;
  }

  .Audience {
    padding: 50px 16px;
  }

  .AudienceImage {
    width: 100%;
    max-width: 280px;
    margin: auto;
  }

  .AudienceButtons button {
    width: 100%;
  }

  .Footer {
    padding: 40px 16px 20px;
  }

  .FooterTop {
    gap: 30px;
  }

  .FooterBottom {
    font-size: 12px;
  }
}

