* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 50px;
  background: #ffffff;
  border-bottom: 1px solid #ececec;
}

.logo {
  font-size: 32px;
  font-weight: 800;
  color: #0b63ce;
  cursor: pointer;
  letter-spacing: -0.5px;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 22px;
}

.login-btn {
  background: transparent;
  border: none;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  padding: 10px 12px;
  transition: 0.3s ease;
}

.register-btn {
  background: #000;
  color: white;
  border: none;
  padding: 16px 34px;
  border-radius: 12px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-btn:hover {
  color: #0b63ce;
}

.register-btn:hover {
  transform: translateY(-2px);
}
