.login-page {
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
}

.hero-container {
  width: 50%;
  min-height: 100vh;
  background: linear-gradient(150.72deg, #181d3c 0%, #2a49e2 100%);
  color: white;
  padding: 60px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.hero-logo {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -1px;
  vertical-align: middle;
  margin-top: 80px;
  margin-left: 60px;
}

.hero-heading {
  font-weight: 700;
  font-size: 40px;
  font-family: "Manrope", sans-serif;
  width: 450px;
  height: 100px;
  line-height: 50px;
  letter-spacing: -0.8px;
  margin-top: 50px;
  margin-left: 50px;
}

.hero-text {
  max-width: 448px;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff80;
  margin-top: 28px;
  margin-left: 50px;
}

.hero-stats {
  display: flex;
  gap: 90px;
  margin-top: 70px;
  margin-left: 50px;
}

.hero-statbox h3 {
  font-size: 32px;
  margin-bottom: 4px;
  font-family: "Manrope", sans-serif;
}

.hero-stats p {
  color: #ffffff90;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.6px;
}

.hero-footer {
  margin-top: 150px;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff80;
}

.login-form {
  width: 100%;
  max-width: 530px;
  margin-top: 30px;
}

.login-container {
  width: 50%;
  min-height: 100vh;
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 40px;
}

.login-heading {
  font-weight: 700;
  font-size: 32px;
  color: #111c2d;
  line-height: 40px;
  font-family: "Manrope", sans-serif;
}

.login-text {
  font-weight: 400;
  font-size: 16px;
  color: #464555;
  margin-top: 5px;
  margin-bottom: 40px;
  line-height: 24px;
}

.email-box {
  position: relative;
  width: 100%;
}

.mail-icon {
  width: 20px;
  height: 16px;
  position: absolute;
  left: 12px;
  top: 18px;
}

.login-mail,
.login-pass {
  font-size: 14px;
  line-height: 20px;
  color: #111c2d;
}

.mail-input {
  width: 100%;
  max-width: 530px;
  height: 54px;
  padding: 15px 16px 16px 40px;
  padding-left: 45px;
  border: 1px solid #c7c4d8;
  border-radius: 8px;
  font-family: "Hanken Grotesk", sans-serif;
}

.pass-input {
  width: 100%;
  max-width: 530px;
  height: 54px;
  padding: 15px 16px 16px 40px;
  padding-left: 45px;
  border: 1px solid #c7c4d8;
  border-radius: 8px;
  font-family: "Hanken Grotesk", sans-serif;
}

.password-box {
  position: relative;
  width: 100%;
}

.password-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-top: 20px;
}

.password-top span {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  margin-right: 8px;
  color: #3525cd;
  cursor: pointer;
  margin-bottom: 8px;
}

.lock-icon {
  width: 16px;
  height: 21px;
  position: absolute;
  left: 12px;
  top: 15px;
}

.eye-icon {
  position: absolute;
  right: 18px;
  top: 50%;
  width: 22px;
  height: 15px;
  transform: translateY(-50%);
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
  margin: 6px 0 12px 5px;
  font-weight: 500;
  margin-left: 30px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.checkbox p {
  font-size: 14px;
  line-height: 20px;
  color: #464555;
  margin-bottom: 2px;
}

.sign-in {
  width: 100%;
  max-width: 530px;
  height: 52px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  background: #3525cd;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-family: "Hanken Grotesk", sans-serif;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
}

.arrow-icon {
  width: 13px;
  height: 13px;
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin: 28px 0;
  width: 100%;
  max-width: 530px;
}

.line hr {
  flex: 1;
}

.line p {
  color: #464555;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  white-space: nowrap;
}

.google-btn {
  width: 230px;
  height: 48px;
  border: 1px solid #c7c4d8;
  border-radius: 8px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  cursor: pointer;
  font-size: 15px;
  font-family: "Hanken Grotesk", sans-serif;
}

.google-btn img {
  width: 20px;
  height: 20px;
}

.createAcct {
  color: #464555;
  display: flex;
  justify-content: start;
  margin-top: 36px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.google span {
  color: #2a49e2;
  cursor: pointer;
  margin-left: 10px;
}

.footer-line {
  display: flex;
  justify-content: start;
  gap: 12px;
  margin-top: 30px;
  margin-right: 0;
}
.footer-line p {
  color: #464555;
  font-size: 12px;
  line-height: 16px;
  margin-top: 60px;
}

.dots {
  width: 4px;
  height: 4px;
  border-radius: 9999px;
  background: #c7c4d8;
  margin-top: 67px;
}

@media (max-width: 1439px) {
  .hero-container {
    padding: 50px;
  }

  .hero-logo {
    margin-top: 60px;
    margin-left: 30px;
    font-size: 38px;
  }

  .hero-heading {
    width: 390px;
    font-size: 36px;
    line-height: 46px;
    margin-left: 30px;
  }

  .hero-text {
    max-width: 390px;
    margin-left: 30px;
    font-size: 17px;
  }

  .hero-stats {
    margin-left: 30px;
    gap: 70px;
  }

  .hero-footer {
    margin-left: 30px;
    margin-top: 120px;
  }

  .login-container {
    padding: 40px 30px;
  }

  .login-form {
    max-width: 460px;
  }

  .mail-input,
  .pass-input,
  .sign-in,
  .line {
    max-width: 460px;
  }

  .google-btn {
    width: 210px;
    margin: 0 auto;
  }
}

@media (max-width: 1023px) {
  .hero-container {
    display: none;
  }

  .login-container {
    width: 100%;
    padding: 50px 35px;
  }

  .login-form {
    max-width: 520px;
    margin: auto;
  }

  .mail-input,
  .pass-input,
  .sign-in,
  .line {
    max-width: 100%;
  }

  .google-btn {
    margin: 0 auto;
    width: 230px;
  }

  .createAcct {
    justify-content: center;
  }

  .footer-line {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .login-container {
    padding: 24px;
  }

  .login-form {
    width: 100%;
    margin-top: 0;
  }

  .login-heading {
    font-size: 30px;
    line-height: 36px;
  }

  .login-text {
    font-size: 15px;
    margin-bottom: 30px;
  }

  .mail-input,
  .pass-input,
  .sign-in,
  .line {
    max-width: 100%;
  }

  .password-top span {
    margin-right: 0;
    font-size: 12px;
  }

  .eye-icon {
    right: 18px;
  }

  .google-btn {
    width: 100%;
    max-width: 260px;
    margin: 0 auto;
  }

  .createAcct {
    justify-content: center;
    text-align: center;
  }

  .footer-line {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .login-heading {
    font-size: 28px;
  }

  .login-text {
    font-size: 14px;
  }

  .checkbox p {
    font-size: 13px;
  }

  .line p {
    font-size: 12px;
  }

  .google-btn {
    width: 100%;
  }
}
