.LoginPage {
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
}

.HeroContainer {
  width: 50%;
  min-height: 100vh;
  background: linear-gradient(150.72deg, #181d3c 0%, #2a49e2 100%);
  color: white;
  padding: 60px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.HeroLogo {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -1px;
  vertical-align: middle;
  margin-top: 80px;
  margin-left: 60px;
}

.HeroHeading {
  font-weight: 700;
  font-size: 40px;
  font-family: "Manrope", sans-serif;
  width: 450px;
  height: 100px;
  line-height: 50px;
  letter-spacing: -0.8px;
  margin-top: 50px;
  margin-left: 50px;
}

.HeroText {
  max-width: 448px;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff80;
  margin-top: 28px;
  margin-left: 50px;
}

.HeroStats {
  display: flex;
  gap: 90px;
  margin-top: 70px;
  margin-left: 50px;
}

.HeroStatBox h3 {
  font-size: 32px;
  margin-bottom: 4px;
  font-family: "Manrope", sans-serif;
}

.HeroStats p {
  color: #ffffff90;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.6px;
}

.HeroFooter {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff80;
  margin-top: 150px;
}

.LoginContainer {
  width: 50%;
  min-height: 100vh;
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 40px;
}

.LoginForm {
  width: 100%;
  max-width: 530px;
  margin-top: 30px;
}

.LoginHeading {
  font-weight: 700;
  font-size: 32px;
  color: #111c2d;
  line-height: 40px;
  font-family: "Manrope", sans-serif;
}

.LoginText {
  font-weight: 400;
  font-size: 16px;
  color: #464555;
  margin-top: 5px;
  margin-bottom: 40px;
  line-height: 24px;
}

.EmailBox {
  position: relative;
  width: 100%;
}

.MailIcon {
  width: 20px;
  height: 16px;
  position: absolute;
  left: 12px;
  top: 18px;
}

.LoginMail,
.LoginPass {
  font-size: 14px;
  line-height: 20px;
  color: #111c2d;
}

.MailInput {
  width: 100%;
  max-width: 530px;
  height: 54px;
  padding: 15px 16px 16px 40px;
  padding-left: 45px;
  border: 1px solid #c7c4d8;
  border-radius: 8px;
  outline: none;
  font-family: "Hanken Grotesk", sans-serif;
}

.PassInput {
  width: 100%;
  max-width: 530px;
  height: 54px;
  padding: 15px 16px 16px 40px;
  padding-left: 45px;
  border: 1px solid #c7c4d8;
  border-radius: 8px;
  outline: none;
  font-family: "Hanken Grotesk", sans-serif;
}

.PasswordBox {
  position: relative;
  width: 100%;
}

.PasswordTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-top: 20px;
}

.PasswordTop span {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  margin-right: 8px;
  color: #3525cd;
  cursor: pointer;
  margin-bottom: 8px;
}

.LockIcon {
  width: 16px;
  height: 21px;
  position: absolute;
  left: 12px;
  top: 15px;
}

.EyeIcon {
  position: absolute;
  right: 18px;
  top: 50%;
  width: 22px;
  height: 15px;
  transform: translateY(-50%);
  cursor: pointer;
}

.Error {
  color: red;
  font-size: 12px;
  margin: 6px 0 12px 5px;
  font-weight: 500;
  margin-left: 30px;
}

.LoginErrorInput {
  border: 1px solid #ef4444;
  box-shadow: 0 0 0 3px rgba(235, 57, 57, 0.15);
}

.CheckBox {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.CheckBox p {
  font-size: 14px;
  line-height: 20px;
  color: #464555;
  margin-bottom: 2px;
}

.SignInButton {
  width: 100%;
  max-width: 530px;
  height: 52px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  background: #3525cd;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-family: "Hanken Grotesk", sans-serif;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
}

.ArrowIcon {
  width: 13px;
  height: 13px;
}

.LoginDivider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin: 28px 0;
  width: 100%;
  max-width: 530px;
}

.LoginDivider hr {
  flex: 1;
}

.LoginDivider p {
  color: #464555;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  white-space: nowrap;
}

.GoogleBtn {
  width: 230px;
  height: 48px;
  border: 1px solid #c7c4d8;
  border-radius: 8px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  cursor: pointer;
  font-size: 15px;
  font-family: "Hanken Grotesk", sans-serif;
}

.GoogleBtn img {
  width: 20px;
  height: 20px;
}

.CreateAcct {
  color: #464555;
  display: flex;
  justify-content: start;
  margin-top: 36px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.GoogleSection span {
  color: #2a49e2;
  cursor: pointer;
  margin-left: 10px;
}

.FooterLine {
  display: flex;
  justify-content: start;
  gap: 12px;
  margin-top: 30px;
  margin-right: 0;
}
.FooterLine p {
  color: #464555;
  font-size: 12px;
  line-height: 16px;
  margin-top: 60px;
}

.Dots {
  width: 4px;
  height: 4px;
  border-radius: 9999px;
  background: #c7c4d8;
  margin-top: 67px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .HeroContainer {
    padding: 50px;
  }

  .HeroLogo {
    margin-top: 60px;
    margin-left: 30px;
    font-size: 38px;
  }

  .HeroHeading {
    width: 390px;
    font-size: 36px;
    line-height: 46px;
    margin-left: 30px;
  }

  .HeroText {
    max-width: 390px;
    margin-left: 30px;
    font-size: 17px;
  }

  .HeroStats {
    margin-left: 30px;
    gap: 70px;
  }

  .HeroFooter {
    margin-left: 30px;
    margin-top: 120px;
  }

  .LoginContainer {
    padding: 40px 30px;
  }

  .LoginForm {
    max-width: 460px;
  }

  .MailInput,
  .PassInput,
  .SignInButton,
  .LoginDivider {
    max-width: 460px;
  }

  .GoogleBtn {
    width: 210px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .HeroContainer {
    display: none;
  }

  .LoginContainer {
    width: 100%;
    padding: 50px 35px;
  }

  .LoginForm {
    max-width: 520px;
    margin: auto;
  }

  .MailInput,
  .PassInput,
  .SignInButton,
  .LoginDivider {
    max-width: 100%;
  }

  .GoogleBtn {
    margin: 0 auto;
    width: 230px;
  }

  .CreateAcct {
    justify-content: center;
  }

  .FooterLine {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .LoginPage {
    flex-direction: column;
  }

  .HeroContainer {
    display: none;
  }
  .LoginContainer {
    width: 100%;
    height: auto;
    padding: 24px;
  }

  .LoginForm {
    width: 100%;
    margin-top: 0;
  }

  .LoginHeading {
    font-size: 30px;
    line-height: 36px;
  }

  .LoginText {
    font-size: 15px;
    margin-bottom: 30px;
  }

  .MailInput,
  .PassInput,
  .SignInButton,
  .LoginDivider {
    max-width: 100%;
  }

  .PasswordTop span {
    margin-right: 0;
    font-size: 12px;
  }

  .EyeIcon {
    right: 18px;
  }

  .GoogleBtn {
    width: 100%;
    max-width: 260px;
    margin: 0 auto;
  }

  .CreateAcct {
    justify-content: center;
    text-align: center;
  }

  .FooterLine {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
}
